@model IEnumerable<Portfolio.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>
<div class="row">

@foreach (var item in Model)
{
    <div class="col-md-3">

        <h3>@Html.DisplayFor(modelItem => item.ProjectName)</h3>
        <p>@Html.DisplayFor(modelItem => item.ProjectDescription)</p>
        <a href="@Url.Content(item.GitHubURL)">
            <img src="@Url.Content(item.ImageURL)" class="img-responsive" />
        </a>
        <a href="@Url.Content(item.GitHubURL)">@Html.DisplayFor(modelItem => item.GitHubURL)</a>
    </div>
}
</div>
@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GitHubURL)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                <a href="@Url.Content(item.GitHubURL)">
                    <img src="@Url.Content(item.ImageURL)" />
                </a>
            </td>
            <td>
                <a href="@Url.Content(item.GitHubURL)">@Html.DisplayFor(modelItem => item.GitHubURL)</a>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ProjectsID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ProjectsID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ProjectsID })
            </td>
        </tr>
    }

    </table>
*@
